################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RobotArena/v16
/Assets/TextMesh Pro
/Library
/Logs
/obj/Debug
/Temp
/UserSettings
